* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "DM Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.conteiner {
  width: 1152px;
  margin: 0 auto;
  padding: 0 16px;
}

:root {
  --bg-wrap1: #3098F3;
  --bg-wrap2: #FFCC00;
  --bg-footer: #082C4E;
  --hover-link: black;
  --hover-link-light: wheat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-wrap {
  background-color: var(--bg-wrap1);
}

.header {
  padding-top: 29px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu a {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 32px;
}
.header-menu a:hover {
  color: var(--hover-link);
}

.design-wrap {
  background-color: var(--bg-wrap1);
}

.design {
  display: flex;
  flex-direction: column;
  padding-top: 215px;
  padding-bottom: 17px;
}
.design-title {
  font-weight: 400;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #FFFFFF;
  width: 52%;
  margin-bottom: 102px;
}
.design-span {
  font-family: "Archivo", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #FFCC00;
}
.design-svg {
  align-self: flex-end;
  margin-right: 140px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 80px;
}
.team-title {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #05051E;
  width: 42%;
}
.team-pic {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  width: 42%;
  margin-right: -20px;
}
.team-pic .team-pics {
  width: 196px;
  height: 196px;
  padding: 50px;
  border-radius: 50%;
}
.team-pic-01 {
  background: #3098F3;
  order: 1;
}
.team-pic-02 {
  background: #FE6571;
}
.team-pic-03 {
  background: #FFCC00;
}

.case {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.case-article {
  display: flex;
  background: #F2EAE2;
  margin-bottom: 80px;
}
.case-article-img {
  width: 50%;
}
.case-article-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}
.case-article-main-link {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3098F3;
  margin-bottom: 10px;
}
.case-article-main-link:hover {
  color: var(--hover-link);
}
.case-article-main-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #05051E;
}
.case-article-main-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #05051E;
  margin-top: auto;
}
.case-article-main-btn:hover {
  color: #3f3f8d;
}
.case-article-main-btn::before {
  content: url(../img/link-arrow-mini.svg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #3098F3;
  border-radius: 50%;
  margin-right: 8px;
}
.case-article-main-btn:hover::before {
  background-color: black;
}
.case-btn {
  align-self: center;
  width: 25%;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #3098F3;
  border-radius: 100px;
  padding: 15px 5px;
}
.case-btn:hover {
  background-color: #2d8ee2;
}
.case-article:nth-child(odd) .case-article-img {
  order: 1;
}

.sprint-wrap {
  background-color: var(--bg-wrap2);
}

.sprint {
  padding-top: 206px;
  padding-bottom: 205px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.sprint-img {
  margin-right: 83px;
}
.sprint-main {
  width: 45%;
  padding-top: 12px;
}
.sprint-main-title {
  font-weight: 400;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #05051E;
  margin-bottom: 39px;
}
.sprint-main-text {
  line-height: 34px;
  color: #05051E;
  margin-bottom: 70px;
}

.havesay {
  padding-top: 160px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
}
.havesay-title {
  font-weight: 400;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #05051E;
  margin-bottom: 18px;
}
.havesay-text {
  line-height: 34px;
  color: #05051E;
  margin-bottom: 55px;
}
.havesay-cards {
  display: flex;
  margin: 0 -16px;
  padding-bottom: 31px;
}
.havesay-cards-wrap {
  padding: 0 16px;
  width: 33.333%;
}
.havesay-cards-card {
  display: flex;
  flex-direction: column;
  background: #3098F3;
  padding: 40px;
  height: 100%;
}
.havesay-cards-card-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  padding-bottom: 49px;
}
.havesay-cards-card-link {
  align-self: flex-end;
  margin-top: auto;
}
.havesay-cards-card-link:hover path {
  fill: var(--hover-link-light);
}
.havesay-cards-card-01::before {
  content: url(../img/cards-01.svg);
  margin-bottom: 21px;
}
.havesay-cards-card-02::before {
  content: url(../img/cards-02.svg);
  margin-bottom: 21px;
}
.havesay-cards-card-03::before {
  content: url(../img/cards-03.svg);
  margin-bottom: 21px;
}
.havesay a {
  align-self: flex-end;
}

.footer-wrap {
  background-color: var(--bg-footer);
  background-image: url(../img/footer-bg-img.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.footer {
  padding-top: 126px;
  padding-bottom: 115px;
}
.footer-title {
  font-weight: 400;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #FFFFFF;
  width: 50%;
  margin-bottom: 35px;
}
.footer-btn {
  display: inline-flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #082C4E;
  background: #FFCC00;
  border-radius: 100px;
  border-style: none;
  padding: 15px 32px;
  margin-bottom: 183px;
}
.footer-btn:hover {
  background: #e2b501;
  cursor: pointer;
}
.footer-btn:active {
  background: #f0c003;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.footer-main-address {
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  color: #FFFFFF;
  margin-bottom: 81px;
}
.footer-main-pol {
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  color: #FFFFFF;
}
.footer-main-wrap2 {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-main-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 110px;
}
.footer-main-menu-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 34px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-main-menu li:hover .footer-main-menu-link {
  color: var(--hover-link-light);
}
.footer-main-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: solid 1px #D9D9DA;
}
.footer-main-form-input {
  width: 94%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
}
.footer-main-form-btn {
  border-style: none;
  background-color: transparent;
}
.footer-main-form-btn:hover {
  cursor: pointer;
}
.footer-main-form-btn:hover path {
  stroke: var(--hover-link-light);
}
.footer-main-wrap3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-main-social-link {
  text-decoration: none;
  margin-top: 16px;
}
.footer-main-social-link:hover path {
  fill: var(--hover-link-light);
}