* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "DM Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.conteiner {
  width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --bg-wrap1: #3098F3;
  --hever-link: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-wrap {
  background-color: var(--bg-wrap1);
}

.header {
  padding-top: 29px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu a {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 32px;
}
.header-menu a:hover {
  color: var(--hever-link);
}

.design-wrap {
  background-color: var(--bg-wrap1);
}

.design {
  display: flex;
  flex-direction: column;
  padding-top: 215px;
  padding-bottom: 17px;
}
.design-title {
  font-weight: 400;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #FFFFFF;
  width: 52%;
  margin-bottom: 102px;
}
.design-span {
  font-family: "Archivo", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #FFCC00;
}
.design-svg {
  align-self: flex-end;
  margin-right: 140px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 80px;
}
.team-title {
  font-weight: 400;
  font-size: 42px;
  line-height: 50px;
  color: #05051E;
  width: 42%;
}
.team-pic {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  width: 42%;
  margin-right: -20px;
}
.team-pic .team-pics {
  width: 196px;
  height: 196px;
  padding: 50px;
  border-radius: 50%;
}
.team-pic-01 {
  background: #3098F3;
  order: 1;
}
.team-pic-02 {
  background: #FE6571;
}
.team-pic-03 {
  background: #FFCC00;
}

.case {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}
.case-article {
  display: flex;
  background: #F2EAE2;
  margin-bottom: 80px;
}
.case-article-img {
  width: 50%;
}
.case-article-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}
.case-article-main-link {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3098F3;
  margin-bottom: 10px;
}
.case-article-main-link:hover {
  color: var(--hever-link);
}
.case-article-main-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #05051E;
}
.case-article-main-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  color: #05051E;
  margin-top: auto;
}
.case-article-main-btn::before {
  content: url(../img/link-arrow-mini.svg);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #3098F3;
  border-radius: 50%;
  margin-right: 8px;
}
.case-article-main-btn:hover::before {
  background-color: black;
}
.case-btn {
  align-self: center;
  width: 25%;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #3098F3;
  border-radius: 100px;
  padding: 15px 5px;
}
.case-btn:hover {
  background-color: #2d8ee2;
}
.case-article:nth-child(odd) .case-article-img {
  order: 1;
}