* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'DM Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.conteiner {
    width: 1150px;
    margin: 0 auto;
    padding: 0 16px;
}
:root {
    --bg-wrap1: #3098F3;
    --bg-wrap2: #FFCC00;
    --hever-link: black;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.header-wrap {
    background-color: var(--bg-wrap1);
}
.header {
    padding-top: 29px;
    padding-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu {
        a {
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            text-decoration: none;
            margin-left: 32px;
        }
        a:hover {
            color: var(--hever-link);
        }
    }
}
.design-wrap {
    background-color: var(--bg-wrap1);
}
.design {
    display: flex;
    flex-direction: column;
    padding-top: 215px;
    padding-bottom: 17px;
    &-title {
        font-weight: 400;
        font-size: 51px;
        line-height: 67px;
        letter-spacing: 1.12px;
        color: #FFFFFF;
        width: 52%;
        margin-bottom: 102px;
    }
    &-span {
        font-family: 'Archivo', 'Arial', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 67px;
        letter-spacing: 1.12px;
        color: #FFCC00;
    }
    &-svg {
        align-self: flex-end;
        margin-right: 140px;
    }
}
.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 80px;
    &-title {
        font-weight: 400;
        font-size: 42px;
        line-height: 50px;
        color: #05051E;
        width: 42%;
    }
    &-pic {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        width: 42%;
        margin-right: -20px;
        .team-pics {
            width: 196px;
            height: 196px;
            padding: 50px;
            border-radius: 50%;
        }
        &-01 {
            background: #3098F3;
            order: 1;
        }
        &-02 {
            background: #FE6571;
        }
        &-03 {
            background: #FFCC00;
        }
    }
}
.case {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    &-article {
        display: flex;
        background: #F2EAE2;
        margin-bottom: 80px;
        &-img {
            width: 50%;
        }
        &-main {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 40px;
        }
        &-main-link {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.16px;
            text-decoration: none;
            text-transform: uppercase;
            color: #3098F3;
            margin-bottom: 10px;
        }
        &-main-link:hover {
            color: var(--hever-link);
        }
        &-main-title {
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            color: #05051E;
        }
        &-main-btn {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-decoration: none;
            color: #05051E;
            margin-top: auto;
        }
        &-main-btn:hover {
            color: #3f3f8d;
        }

        &-main-btn::before {
            content: url(../img/link-arrow-mini.svg);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            background: #3098F3;
            border-radius: 50%;
            margin-right: 8px;
        }
        &-main-btn:hover::before {
            background-color: black;
        }
    }
    &-btn {
        align-self: center;
        width: 25%;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background: #3098F3;
        border-radius: 100px;
        padding: 15px 5px;
    }
    &-btn:hover {
        background-color: #2d8ee2;
    }
    &-article:nth-child(odd) .case-article-img {
        order: 1;
    }
}
.sprint-wrap {
    background-color: var(--bg-wrap2);
}
.sprint {
    padding-top: 206px;
    padding-bottom: 205px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    &-img {
        margin-right: 83px;
    }
    &-main {
        width: 45%;
        padding-top: 12px;
        &-title {
            font-weight: 400;
            font-size: 51px;
            line-height: 67px;
            letter-spacing: 1.12px;
            color: #05051E;
            margin-bottom: 39px;
        }
        &-text {
            line-height: 34px;
            color: #05051E;
            margin-bottom: 70px;
        }
    }
}
.havesay {
    padding-top: 160px;
    padding-bottom: 65px;
    display: flex;
    flex-direction: column;
    &-title {
        font-weight: 400;
        font-size: 51px;
        line-height: 67px;
        letter-spacing: 1.12px;
        color: #05051E;
        margin-bottom: 18px;
    }
    &-text  {
        line-height: 34px;
        color: #05051E;
        margin-bottom: 55px;
    }
    &-cards {
        display: flex;
        margin: 0 -16px;
        padding-bottom: 31px;
        &-wrap {
            padding: 0 16px;
            width: 33.333%;
        }
        &-card {
            display: flex;
            flex-direction: column;
            background: #3098F3;
            padding: 40px;
            height: 100%;
            &-text {
                font-weight: 400;
                font-size: 24px;
                line-height: 34px;
                color: #FFFFFF;
                padding-bottom: 49px;
            }
            &-link {
                align-self: flex-end;
                margin-top: auto;
            }
            &-link:hover path {
                fill: wheat;
            }
        }
        &-card-01::before {
            content: url(../img/cards-01.svg);
            margin-bottom: 21px;
        }
        &-card-02::before {
            content: url(../img/cards-02.svg);
            margin-bottom: 21px;
        }
        &-card-03::before {
            content: url(../img/cards-03.svg);
            margin-bottom: 21px;
        }
    }
    a {
        align-self: flex-end;
    }
}